.container{
    border: 2px solid red;
    margin-top: 1%;
}


.cont-head{
    /* border: 2px solid red; */
    margin: 1px;
    text-decoration: underline;
}


.carousel-control-next{
   background-color: black;
}
.carousel-control-prev{
    background-color: black;
}





.d-block{
    height: 500px;
    /* width: 50%; */
}